div {
    background-color: rgba(35, 21, 240, 0.089);
    opacity: 0.9;
  }
h1 {
    font-family: 'Raleway', sans-serif;
color:rgb(90, 164, 250) ;
text-align: center;
}
h2 {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#box-container {
    height: 500px;
    display:flex;
}
.box {
    background-color: cornsilk;
    width: 50%;
    height: 30%;
    text-align: center;
    border: rgb(223, 24, 24);
    border-width: 5px;
    border-style: double;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 25px;
    
}
.box:hover{
    background-color:gold;
}

.footer_box {
    background-color: cornsilk;
    width: 50%;
    height: 10%;
    text-align: center;
    border: rgb(223, 24, 24);
    border-width: 5px;
    border-style: double;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 25px;
      
}