
h1 {
    font-family: 'Raleway', sans-serif;
text-align: center;
}
h2 {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
header {
    text-align: center;
    background-image: url("/Users/graemekrzysiak/vsCodeProjects/ladyBurnLake/Ladyburn_Lake/photos/lakejpeg.jpg");
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    width: 100%;
    height: 600px;
    padding-top: 50px;
}

.footer_box {
    background-color: cornsilk;
    width: 50%;
    height: 10%;
    text-align: center;
    border: rgb(195, 200, 201);
    border-width: 5px;
    border-style: double;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 25px;  
}
.box {
    background-color: rgb(129, 191, 241);
    color: white;
    width: 50%;
    height: 30%;
    text-align: Center;
    border: rgb(218, 218, 219);
    border-width: 5px;
    border-style: double;
    border-radius: 10px;
    column-gap: 25px;
    margin-top: 10px;
    
}
a:hover{
    background-color:gold;
}
a:visited {
    color: whitesmoke;
}