
h1 {
    font-family: 'Raleway', sans-serif;
color:rgb(90, 164, 250) ;
text-align: center;
}
h2 {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#title {
    width: 90%;
    height: 30%;
    text-align: center;
    border: rgb(223, 24, 24);
    border-width: 5px;
    border-style: double;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 25px;
    background-image: url("/Users/graemekrzysiak/vsCodeProjects/ladyBurnLake/Ladyburn_Lake/photos/lakejpeg.jpg");
    background-size: cover;
    opacity: 0.8;
}

#box-container {
    height: 500px;
    display:flex;

}
.box {
    background-color: cornsilk;
    width: 50%;
    height: 30%;
    text-align: center;
    border: rgb(223, 24, 24);
    border-width: 5px;
    border-style: double;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 25px;
    
}
.box:hover{
    background-color:gold;
}

.footer_box {
    background-color: cornsilk;
    width: 50%;
    height: 10%;
    text-align: center;
    border: rgb(223, 24, 24);
    border-width: 5px;
    border-style: double;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 25px;
      
}