
h1 {
    font-family: 'Raleway', sans-serif;
text-align: center;
}
h2 {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
row {
    display: flex;
}

header {
    text-align: center;
    background-image: url("/Users/graemekrzysiak/vsCodeProjects/ladyBurnLake/Ladyburn_Lake/photos/lakejpeg.jpg");
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    width: 100%;
    height: 600px;
    padding-top: 50px;
}


.box {
    background-color: cornsilk;
    width: 90%;
    height: 30%;
    text-align: center;
    border: rgb(223, 24, 24);
    border-width: 5px;
    border-style: double;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 25px;
    margin-bottom: 10px;
    
}
.box:hover{
    background-color:gold;
}

.footer_box {
    background-color: cornsilk;
    width: 50%;
    height: 10%;
    text-align: center;
    border: rgb(223, 24, 24);
    border-width: 5px;
    border-style: double;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 25px;
      
}